  <footer>  
        <hr>
        CST 336 Internet Programming. 2019&copy; Mariscal <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictitious.<br />
        It is used for academic purposes only.    
      </footer> 
        <footer>
            <img src = "img/controller.png" alt = "controller" />           
        </footer>        
    </body>
</html>