<% include partials/header.ejs %>
  <h1>How to</h1>
  <h3>
    There are a lot of great courses that you can find online to help you learn the fundamentals of game development. Many game game developers also get degrees in computer science. Here are some great websites that can help you start in your game development
    career.
  </h3>
  <main>

    <img src="img/gamer.png" alt="gameDev" />
    <ul>
      <li> <%= fakeProduct %></li>
      <li><a href="https://www.coursera.org/specializations/game-development" target="_blank">Coursera</a></li>
      <li><a href="https://www.udacity.com/course/2d-game-development-with-libgdx--ud405" target="_blank">Udacity</a></li>
      <li><a href="https://www.udemy.com/courses/development/game-development/" target="_blank">Udemy</a></li>
      <li><a href="https://hello.fullsail.edu/game_9ar?mncid=9651&mnckeyword=%2Bgame%20%2Bdevelopment%20%2Bcourses&utm_campaign=ALL-GAME&affiliatecode=EDU&step=input&agid=61836398872&gclid=EAIaIQobChMIkeiJsPuX4wIVgcBkCh2BJgf8EAAYASAAEgKjJPD_BwE" target="_blank">Full Sail University</a></li>
    </ul>
  </main>

  <% include partials/footer.ejs %>