<% include partials/header.ejs %>
    <h1>Home</h1>
  <main>
      <img src="img/Videogamefile1.png" alt="gamephoto" />
     
    <h2>
      Game Development is the process of creating games and describes the design, development and release of a game. It involves concept generation, design, build, test and release. When creating a game , a team thinks about rewards in the game, player engagement
      and level design. There are many roles in game development and you can be a programmer, a sound designer, an artist, or many other roles. Game development can be done by a team or by a single individual. Many developers choose to develop a game
      using a game development engine.Game engines can make the process of creating a game much easier and enable developers to reuse lots of functionality. It also takes care of rendering for 2D and 3D graphics, physics and collision detection, sound,
      and scripting.
    </h2>
   
  </main>
   <a href="https://guide.freecodecamp.org/game-development/">Information on this page can be found here</a>

  <% include partials/footer.ejs %>