<% include partials/header.ejs %>
  <h1> Popular Games</h1>
  <h3>
    These popular games have been created by some of the best companies in the industry. Apex Legends was created by Respawn Entertainment and is currently one of the most popular games currently being played. Super Smash Brothers was reborn in 2018 for the
    Nintendo Switch and has a cult following. Fortnight is a game that changed the course of video games with it's unique battle royal format. Zelda is a classic and Nintendo has done a great job of keeping the game revelevant with its Nintendo Swich
    release of The Legend of Zelda: Breath of the Wild.
  </h3>
  <main>
    <div class="column">
      <img src="img/apexleg.jpg" alt="Apex" class="center">
      <img src="img/supersmashpic.jpg" alt="supersmash" class="center">
      <img src="img/fortnitepic.jpg" alt="fortnite" class="center">
      <img src="img/zeldapic.jpg" alt="zelda" class="center">
  </div>
  </main>
  <% include partials/footer.ejs %>